#header {
    width:100vw;
    height:50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:30px;
    margin-left: 1%;
}

#backButton {
    margin-top:10px;
    margin-right:50px;
}